/* @import url(./base/nav.css); */
@import url(./base/img.css);
/* @import url(./base/header.css); */
@import url(./base/dropdown.css);
@import url(./base/headeraccount.css);
@import url(./base/table.css);
@import url(./base/checkbox.css);
@import url(./base/button.css);
@import url(./base/input.css);
@import url(./base/content.css);
@import url(./base/combobox.css);
@import url(./base/popup.css);
@import url(./base/dialog.css);
@import url(./base/loading.css);
@import url(./base/datepicker.css);
@import url(./base/tooltip.css);
@import url(./base/datetime.css);
/* @import url(./base/test.css); */

#app{
    background-color: #e4e7eb;
}

@font-face {
    font-family: AMIS Fonts;
    src: url(../assets/fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: AMIS Fonts Bold;
    src: url(../assets/fonts/WorkSans-Bold.ttf);
}

@font-face {
    font-family: AMIS Fonts Italic;
    src: url(../assets/fonts/WorkSans-Italic.ttf);
}

@font-face {
    font-family: AMIS Fonts SemiBold;
    src: url(../assets/fonts/WorkSans-SemiBold.ttf);
}

:root{
    --width-nav: 178px;
    --color-border: #babec5;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: AMIS Fonts;
    font-size: 14px;
    background-color: #F4F5F7;
    height: 100%;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #d6dee1;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #a8bbbf;
}


/* padding */
.pdr--6{
    padding-right: 6px;
}

.pdr--8{
    padding-right: 8px;
}

.pdr--10{
    padding-right: 10px;
}

.pdl--8{
    padding-left: 8px;
}

.pdr--26{
    padding-right: 26px;
}

.pdl--10{
    padding-left: 10px;
}

.pdb--6{
    padding-bottom: 6px;
}

.pdb--10{
    padding-bottom: 10px;
}

.pdb--32{
    padding-bottom: 32px;
}

.pd--0{
    padding: 0;
}

.pd--32{
    padding: 32px;
}

.pd--5-10{
    padding: 5px 10px;
}

.pd--8-10{
    padding: 8px 10px;
}

.pd--0-6{
    padding: 0 6px;
}

.pd--8-0{
    padding: 8px 0;
}

.pd--6-16{
    padding: 6px 16px;
}

.pd--6-1-6-16{
    padding: 6px 1px 6px 16px;
}


/* margin */

.mgr--8{
    margin-right: 8px;
}

.mgr--20{
    margin-right: 20px;
}

.mgl--8{
    margin-left: 8px;
}

.mgl--10{
    margin-left: 10px;
}

.mgt--32{
    margin-top: 32px;
}

.mg--0-10{
    margin: 0 10px;
}
/* display */

.dp--none{
    display: none;
}

/* brightness */

.brn--5{
    filter: brightness(5);
}

/* width */

.w--60{
    width: 60%!important;
}

.w--40{
    width: 40%!important;
}

.w--50{
    width: 50%!important;
}

.w--full{
    width: 100%!important;
}

.w--25{
    width: 25%!important;
}

.w--46px{
    min-width: 46px!important;
}
.w--100px{
    width: 100px;
}

.w--0{
    width: 0px!important;
}

/* height */

.hg--36px{
    height: 36px;
}

.hg--34px{
    height: 34px;
}

.hg--32px{
    height: 32px;
}

/* line height */

.lh--24px{
    line-height: 24px;
}

.lh--32px{
    line-height: 32px;
}

/* flex */
.flex{
    display: flex;
}

.flex--jc-end{
    display: flex;
    justify-content: flex-end;
}

.flex--column{
    display: flex;
    flex-direction: column;
}

.flex--center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--spbetween{
    display: flex;
    justify-content: space-between;
}

/* background */

.bgc--fff{
    background-color: #ffffff;
}

.bgc--inherit{
    background-color: inherit;
}

/* border */

.bd--1slccc{
    border: 1px solid #cccccc;
}

.bd__radius--3px{
    border-radius: 3px;
}

.bd__radius--2px{
    border-radius: 2px;
}

.border--error{
    border: 1px solid red!important;
}

/* color */

.clr--000{
    color: #000000;
}

.clr--0075c0{
    color: #0075c0;
}

/* font */
.fnt--14px{
    font-size: 14px;
}

.fnt--w-600{
    font-weight: 600;
}

.fnt--w-700{
    font-weight: 700;
}
/* display */

.blk{
    display: block;
}

/* position */

.relative{
    position: relative;
    box-sizing: border-box;
}

.sticky{
    position: sticky;
}

.absolute{
    position: absolute;
}

.pointer{
    cursor: pointer;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-normal{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
