.el-input__suffix-inner{
    display: none!important;
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper{
    width: unset!important;
}

i.el-icon.el-input__icon{
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -128px -312px;
	width: 16px;
	height: 16px;
    cursor: pointer;
}

.el-input__prefix .el-icon svg{
    display: none;
}

.el-input__wrapper{
    padding: 1px 4px 1px 10px!important;
    border-radius: 2px!important;
    font-family: AMIS Fonts;
    box-shadow: none!important;
}

.el-input__wrapper.is-focus{
    box-shadow: unset!important;
    border: 1px solid #2ca01c;
}

.el-input__wrapper:hover{
    box-shadow: unset!important;
}

.el-input.error .el-input__wrapper{
    border: 1px solid red;
}

.el-input__inner::placeholder{
    font-family: AMIS Fonts;
    font-style: italic;
}

