.dropdown{
    position: relative;
    display: flex;
    height: 32px;
    align-items: center;
    /* width: 525px; */
}

.dropdown__input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 13px;
    cursor: pointer;
    background: transparent;
}

.dropdown__input:focus{
    outline: none;
}

.dropdown>.box__icon{
    width: 32px;
}

.dropdown__data{
    border-radius: 4px;
    background-color: #fff;
    /* display: none; */
    margin-top: 10px;
    padding: 3px 0;
    position: absolute;
    top: -50%;
    left: 0;
    border-radius: 2px;
    min-width: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 5;
    border: 1px solid #babec5;
}

.dropdown__item{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.dropdown__item:hover{
    background-color: #e9ebee;
    color: #2ca01c;
}

.dropdown__data--footer{
    top: -50%;
    transform: translateY(-100%);
    min-width: 200px;
    box-sizing: border-box;
    border: 1px solid #babec5;
    border-radius: 2px;
}

.dropdown__item--footer{
    height: 32px;
    padding: 0 10px 0 14px;
}

.dropdown__item--footer:hover{
    color: #3639d1;
}

.dropdown__item--selected{
    color: #fff;
    background-color: #3639d1;
}

.dropdown__hover:hover{
    background-color: var(--color-border);
}

.dropdown__feature{
    border-radius: 30px;
    color: #000;
    background-color: #fff;
    border: 2px solid #3b3c3f;
    padding: 0 16px;
    height: 36px;
    box-sizing: border-box;
    width: 182px;
}