.header{
    background-color: #ffffff;
    position: fixed;
    height: 48px;
    width: calc(100% - var(--width-nav));
    margin-left: var(--width-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

.header__icon{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__right{
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__right>.box__icon{
    height: 40px;
    width: 40px;
}

