.input{
    height: 32px;
    position: relative;
    border: none;
}

.input input{
    position: relative;
    height: 32px;
    border-radius: 0px;
    width: 100%;
    /* border: none; */
    /* border: 1px solid #000; */
    border: 1px solid var(--color-border);
    border-radius: 2px;
    /* padding-right: 40px; */
    box-sizing: border-box;
    padding: 0 12px 0 10px;
    
}


.input input[type=date]{
    padding: 0;
    padding-left: 8px;
}

.input input:focus{
    outline: none;
}

.input>.box__icon{
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
}

.input input[type=text]::placeholder{
    font-family: AMIS Fonts Italic;
    color: #A59494;
    font-size: 12px;
}

.input:focus{
    border: 1px solid #2ca01c;
}

/* .input__text{
    padding: 0 12px 0 10px;
} */

.input__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.input input[type=text]:focus{
    border: 1px solid #2ca01c;
}

.input .text--capitalize{
    text-transform: capitalize;
}


