.table{
    width: 100%;
    height: 1052px;
    overflow: auto;
}

.table>table{
    width: 100%;
}

table thead{
    position: sticky;
    top: 0;
    z-index: 10;
}

tr{
    background-color: #ffffff;
}

.tr--selected{
    background-color: #e5f3ff!important;
}

.tr--selecting{
    background-color: #e5f3ff!important;
}

th{
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    border-right: 1px #cccccc solid;
}

td{
    height: 44px;
    border-right: 1px #cccccc dotted;
}


th, td{
    background-color: inherit;
    border-bottom: 1px solid #cccccc;

    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

table{
    border-collapse: separate;
    border-spacing: 0;
}

.table table td:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: 1px dotted #cccccc!important;
}

.column__fix{
    position: sticky;
    right: 0;
    z-index: 2;
    border-left: 1px dotted #cccccc!important;
    border-right: none;
}

.table table th:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: 1px dotted #cccccc!important;
}

.table table th:last-child{
    width: 0px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.table table td:last-child{
    width: 0px;
    background-color: transparent;
    border: none;
    padding: 0;
}

th{
    text-transform: uppercase;
    text-align: left;
    background-color: #EDEEF2;
}

tr:hover{
    background-color: #F8F8F8;
}

.column--left{

    text-align: left;
}

.column--center{
    text-align: center;
}

.column--right{
    text-align: right;
}

.column--25{
    min-width: 25px;

}

.column--50{
    min-width: 50px;
    max-width: 50px;
}

.column--100{
    min-width: 100px;
    max-width: 100px;
}

.column--125{
    min-width: 125px;
    max-width: 125px;
}

.column--150{
    min-width: 150px;
    max-width: 150px;
}

.column--200{
    min-width: 200px;
    max-width: 200px;    
}

.column--250{
    min-width: 250px;
    max-width: 250px;
}

.column__sticky--right{
    position: sticky;
    right: 0;
    z-index: 9;
}

.column__data{
    position: absolute;
    top: 60%;
    left: -125px;
    z-index: 9;
}

.nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap:hover{
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}